__pycache__
.pytest_cache
data_1h_price
data_fundingrate

beta_estimation_01_granular.ipynb
beta_neu_fund_arb_01.py
binance_perp_categories_cg_with_sector.csv
binance_perp_categories.csv
daily_portfolio_selections.csv
daily_strategy_metrics.csv
detailed_records_bab_wf.csv
detailed_records_framework_wf.csv
detailed_records_framework.csv
detailed_records_standalone_is.csv
detailed_records_standalone_oos.csv
funding_rate_delay_analysis.ipynb
funding_rate_delay_analysis.ipynb
strategy_report.txt
test_bab_framework.py
test_funding_arb_framework.py
test_manual_allocation_workflow.py
test_shrinkage_calculation.py
test_shrinkage_integration.py
test_volume_filter.py
vertox_version.ipynb
update_notebook.py
test_mvo_weighting.py
test_mvo_cov.py
research_proposal.tex
research_proposal.synctex.gz
research_proposal.pdf
research_proposal.out
research_proposal.log
research_proposal.fls
research_proposal.fdb_latexmk
research_proposal.aux
